html {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.firstpart {
    background-color: #1F2937;
    color: white;
}
.firstline {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.secondline {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}
.links {
    display: flex;
    gap: 20px;
    font-size: 12px;
}

.main {
    flex-wrap: wrap;
}

#img1 {
    height: 145px;
}